.slider {
	overflow: hidden;
	cursor: grab;

	&__content {
		display: flex;
		flex-wrap: nowrap;
		will-change: transform;
	}

	&__slide {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;

		img {
			pointer-events: none;
		}
	}

	&-bar {
		height: 1px;
		background: $light-blue;
		position: relative;

		&__fill {
			background: $blue;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			transition: width 0.3s;
		}
	}

	&-arrow {
		border: 1px solid $light-blue;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: background 0.3s;
		width: 60px;
		height: 60px;
		cursor: pointer;

		&__icon {
			width: 20px;
			height: 20px;
			stroke: $blue;
			fill: none;
		}

		&:hover {
			background: $light-blue;
		}
	}

	&-arrow_left + &-arrow_right {
		margin-left: 40px;
	}
}
